<%- include ('partials/header.ejs') %>
<body>

  <%- include ('partials/navbar.ejs') %>

  <div class="container">
    <div class="card" id="formulario-pagamento">
      <div class="card-header">
        <h3>Realizar Pagamento</h3>

      </div>
      <div class="card-body">
        <form method="POST" action="/salvarPagamento">
          <label>Nome</label>
            <input type="text" placeholder="Nome" class="form-control" name="nome">
            <br><label>Sobrenome</label>
            <input placeholder="Sobrenome" class="form-control" name="sobrenome">
            <br>
            <br><label>Pagamento</label>
            <input placeholder="Descrição do Pagamento" class="form-control" name="pagamento">
            <br>
            <button class="btn btn-primary">Salvar Pagamento</button>
  
        </form>
      </div>
    </div>
  </div>

</body>
<%- include ('partials/footer.ejs') %>